# Copy this file to .env and adjust values for your local environment.
DOMAIN=boston.local
BITNAMI_DEBUG=true
# To run a second site clone simultaneously, use a different domain:
# DOMAIN=bomag.local
